<ion-view view-title="Information">
    <div class="bar bar-header bar-stable">
        <h1 class="title">Information</h1>
    </div>
    <ion-nav-bar>
    </ion-nav-bar>

    <ion-content class="has-header" scroll="true">

        <div class="card">
            <div class="item item-divider">
                Generelt
            </div>
            <div class="item item-text-wrap">
                Spis Danmark er for dig som kan lide at samle og udnytte de mange skønne produkter som
                den danske natur byder på. Vi har taget udgangspunkt i planter, svampe, tang og skaldyr som er lette
                og kende og uden fatale forvekslingsmuligheder. Sørg for grundig rengøring af alt det indsamlede og
                tilbered det hurtigst muligt. Spis <b>ALDRIG</b> noget, som du ikke kender og er sikker på. Der findes
                en del, endda meget giftige planter og svampe i Danmark. Sørg for altid, at have gode bøger med,
                når du drager ud og samler. Lær dine planter at kende lidt ad gangen og tro ikke at du
                bliver verdensmester på én sæson.
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                Hvor og hvor meget må der samles
            </div>
            <div class="item item-text-wrap">
                Som hovedregel gælder stadig bestemmelsen i Jyske Lov fra 1241 om indsamling fra naturen.
                Man må samle så meget, man kan have i sin hat. Det vil med andre og mere moderne ord sige,
                at du kun må samle til eget forbrug.
                Du må plukke planter, dog ikke de fredede, overalt i på offentlige arealer og i skove.
                Husk at du ikke må grave rødder eller planter op i offentlige skove. I private skove må du
                kun tage det med, som du kan nå fra stier eller veje, men det er altid en god ide at spørge ejeren.
                Det er ofte lettere at få tilladelse en tilgivelse.
                De fleste planter samles bedst i tørvejr og gerne sidst på formiddagen,
                hvor den meste dug er fordampet. Husk ikke at samle i grøftekanter langs trafikerede veje,
                på gamle industrigrunde, lossepladser eller i områder hvor der bliver sprøjtet.
                Læg i det hele taget mærke til om det sted du samler i ellers virker okay.
                Hvis du skal plukke større mængder urter kan det være en godt ide at rulle dem ind i en fugtig avis,
                så de ikke tørre ud og bliver ”kedelige” inden man kommer hjem.
                En kurv er altid god at samle i fordi man lettere undgår at høsten bliver klemt eller trykket.
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                På stranden
            </div>
            <div class="item item-text-wrap">
                Samler du skaldyr eller tang så gælder den samme fornuft,
                saml kun friske produkter og aldrig i havne eller
                ved udløb. Det er altid en god ide at tjekke Fødevarestyrelsens hjemmeside,
                for at få klarhed over om der skulle være giftige alger i vandet, inden du samler.
                Du må altid færdes og tage ophold i kortere tid på alle danske strande.
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                Bål i det fri
            </div>
            <div class="item item-text-wrap">
                Når du tænder et almindelig lille bål - også i bål fad - skal det være i god afstand til bygninger.
                <br>
                <br>
                Som hovedregel gælder:
                <ul style="list-style-type:disc; margin-left: 20px">
                    <li>En afstand på 10 m fra bygninger med hårdt tag (gælder dog ikke hvis bålet er mindre end 80 cm i diameter).</li>
                    <li>En afstand på 15 m fra bygninger med letantændeligt tag, f.eks. stråtag, og steder hvor der oplagres brandfarlige eller letantændelige stoffer.</li>
                    <li>Tænder du bål i naturen skal der også være 15 meter til nåletræsbevoksninger, lyngklædte arealer og andet letantændelig vegetation og markafgrøder.</li>
                    <li>I skov bør du kun tænde bål på indrettede bålpladser.</li>
                    <li>30 m fra bygninger med hårdt tag.</li>
                    <li>200 m fra bygninger med letantændeligt tag.</li>
                    <li>200 m fra steder, hvor der anvendes eller oplagres større oplag af brandfarlige, brandnærende, eksplosive eller letantændelige stoffer.</li>
                    <li>200 m fra nåletræsbevoksninger, lyngklædte arealer eller anden letantændelig vegetation.</li>
                    <li>60 m fra letantændelige markafgrøder.</li>
                </ul>
                <br>
                Ved jævn vind, det vil sige en vindhastighed på 5-8 m/s, hvor støv og papir løftes; kviste og mindre grene bevæger sig,
                fordobles afstanden til bygninger med hårdt tag der ligger i vindretningen. 
            </div>
        </div>

    </ion-content>
</ion-view>
